:root {
    --bgcolor: #111;
    --textcolor: #ddd;
    --details: #d2a213;
    --bgbgcolor: #5200A3;
}

body {
    font-family: 'VT323', monospace;
    background-image: url(background.svg);
    background-size: cover;
    color: var(--textcolor);
}

header {
    text-align: center;
    margin-top: -30px;
}

img {
    margin-top: -20px;
    margin-bottom: -30px;
}

.icon {
    height: 25%;
    width: 25%;
}

h1 {
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 10px;
}

h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section {
    background-color: var(--bgcolor);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 15px;
    background-color: var(--bgcolor);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    color: var(--textcolor);
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;

}

nav a:hover {
    background-color: var(--details);
    font-size: 27px;
    padding: 12px;
    transition: all 0.3s ease;

}

nav p:hover {
    background-color: #555;
    transition: all 0.3s ease;
}

main p {
    margin-bottom: 0px;
}

main {
    background-color: var(--bgcolor);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    background-color: var(--bgcolor);
    position: relative;
    margin-top: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

nav p {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--details);
    margin: 0px;
}

.socialImage {
    height: 48px;
    width: 48px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#socialnav {
    display: flex;
    justify-content: space-between;
}

@keyframes distort {
    0% {
        transform: scale(1) skewX(0);
    }

    50% {
        transform: scale(1.2) skewX(50deg);
    }

    100% {
        transform: scale(1) skewX(0);
    }
}

.rotate-distort:hover .socialImage {
    animation: distort 0.5s ease;
}

.rotate-distort {
    display: inline-block;
    perspective: 1000px;
}

.socialImage {
    transform-origin: center;
    transform-style: preserve-3d;
}

section {
    margin-top: 10px;
    border-radius: 10px;
}

#contacttitle {
    margin: 0px;
    padding-top: 5px;
    margin-left: 10px;
    font-size: 36px;
}

#name {
    background-color: var(--bgcolor);
    border-color: #333;
    border-radius: 10px;
    color: var(--textcolor);
    width: 92%;
    padding: 5px;
    margin: 10px;
    margin-left: 33px;
}

#email {
    background-color: var(--bgcolor);
    border-color: #333;
    border-radius: 10px;
    color: var(--textcolor);
    width: 100%;
    padding: 5px;
}

#message {
    background-color: var(--bgcolor);
    border-color: #333;
    border-radius: 10px;
    color: var(--textcolor);
    width: 100%;
    padding: 5px;
    margin: 3px;
}

input[type="submit"] {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    border-color: #333;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;

}

#edumain {
    display: flex;
    justify-content: center;
}

.timeline {
    background: var(--bgcolor);
    margin: 20px auto;
    padding: 20px;
}

.card {
    position: relative;
    max-width: 400px;
}

.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--details);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: var(--details);
    position: relative;
    margin-top: 15px;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--details);
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
    right: -45px;
}

.description {
    margin-top: -15px;
}

/*#projects {
    display: flex;
    justify-content: space-evenly;
}
*/
.projectpic {
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.titlehobby,
h3 {
    color: var(--details);
}

.hobbypicture{
    height:5%; 
    width:20%;
    border-radius: 10px;
    border: solid var(--bgbgcolor);
}

@media only screen and (max-width: 600px) {
    .hobbypicture{
        height: 40%;
        width: 80%;
    }
    #icons img{
        width: 100%;
        height: 100%;
    }
}

#icons{
    display: flex;
    justify-content: space-evenly;
}

#icons img{
    width: 10%;
    height: 10%;
}
#schoolicon{
    height: 10%;
    width: 10%;
    margin: 20px;
    margin-top: 40px;
}
h1{
    color:var(--details);
}

#homefooter{
    position: absolute;
}